<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form th:method="POST" th:action="@{new}" th:object="${user}">
    <label for="username">Username:</label>
    <input type = "text" th:field="*{username}" id="username"/>
    <br>
    <label for="username">LastName:</label>
    <input type = "text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="username">Age:</label>
    <input type = "number" th:field="*{age}" id="age"/>
    <br/>
    <br>
    <label for="username">Password:</label>
    <input type = "text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Add!"/>
    <form th:action="@{logout}" method="post">
        <input type="submit" value="logout"/>
    </form>
</form>
</body>
</html>


